/*resets*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  font-family: "Teko", sans-serif;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  /* height: 100%; */
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* h1,h2,h3,h4{text-transform: uppercase;} */
input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: "Teko", sans-serif;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  font-family: "Teko", sans-serif;
}

.container-big {
  max-width: 1627px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.container__main {
  width: 100%;
  position: relative;
}

.container {
  max-width: 1308px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container__connect {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.active__link {
  color: #358EB9;
}

.active__language {
  position: relative;
}
.active__language::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: white;
}

.header {
  padding-top: 120px;
  padding-bottom: 180px;
}
@media (max-width: 1220px) {
  .header {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}
@media (max-width: 992px) {
  .header {
    padding-top: 50px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media (max-width: 1220px) {
  .header .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1220px) {
  .header .header__logo {
    position: relative;
    margin-left: -15px;
    max-width: 872px;
    width: 100%;
    height: auto;
    margin-right: 20px;
  }
}
.header .header__img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 872px;
  width: 100%;
  height: auto;
}
@media (max-width: 1220px) {
  .header .header__img {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}
.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 55px;
}
@media (max-width: 767px) {
  .header .header__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    display: none;
  }
}
.header .list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}
@media (max-width: 767px) {
  .header .list__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}
.header .list__item a {
  font-size: 24px;
  font-weight: 300;
}

.header__language {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  background-color: #2B2A29;
  padding: 16px 32px;
  font-size: 24px;
  border-radius: 45px;
}
@media (max-width: 767px) {
  .header__language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}
.header__language .btn-language {
  font-size: 34px;
  background-color: #2B2A29;
  color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
  .header__language .btn-language {
    font-size: 22px;
  }
}

.burger {
  display: none;
}
@media (max-width: 767px) {
  .burger {
    display: block;
    background-color: #2B2A29;
    padding: 20px;
    border-radius: 50%;
    z-index: 1100;
  }
}
@media (max-width: 767px) and (max-width: 480px) {
  .burger {
    padding: 10px;
  }
}

body.open {
  overflow: hidden;
}
body.open .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: -webkit-fill-available;
  background-color: white;
  z-index: 2;
}

.open-menu {
  position: relative;
  width: 27px;
  height: 27px;
  padding: 15px;
  display: block;
  font-size: 0;
  z-index: 100;
  background-color: transparent;
}

.open-menu span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 0.1rem solid rgb(249, 249, 249);
  height: 2px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.open-menu span:nth-child(1) {
  margin-top: -0.6rem;
}

.open-menu span:nth-child(2) {
  margin-top: 0.6rem;
}

.menu-opened span:nth-child(1) {
  margin-top: -0.6rem;
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-opened span:nth-child(2) {
  margin-top: 0.6rem;
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-opened span:nth-child(3) {
  margin-left: -1rem;
  opacity: 0;
  visibility: hidden;
}

.products {
  padding: 95px 0;
  background: url("../img/product-bg.jpg") no-repeat center center;
  background-size: cover;
}
@media (max-width: 992px) {
  .products {
    padding: 30px 0;
  }
}
.products .products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .products .products__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.products .product__info {
  max-width: 600px;
}
@media (max-width: 992px) {
  .products .product__info {
    margin-bottom: 30px;
  }
}
.products .product__info .product__title {
  font-size: 80px;
  color: white;
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .products .product__info .product__title {
    margin-bottom: 25px;
    font-size: 40px;
  }
}
.products .product__info .product__txt {
  font-size: 28px;
  color: white;
  font-weight: 300;
}
@media (max-width: 992px) {
  .products .product__info .product__txt {
    font-size: 22px;
  }
}
.products .product__info .product__txt1 {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .products .product__info .product__txt1 {
    margin-bottom: 15px;
  }
}
.products .products__form {
  max-width: 650px;
  width: 100%;
}
@media (max-width: 992px) {
  .products .products__form {
    max-width: 600px;
  }
}
.products .products__form .input {
  padding-left: 10px;
  width: 100%;
  font-size: 22px;
  color: white;
  background-color: transparent;
}
.products .products__form .form__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.products .products__form .form__txt {
  margin-bottom: 14px;
  font-size: 28px;
  color: white;
  font-weight: 300;
}
.products .products__form .form__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  padding: 5px;
  background-color: rgba(241, 245, 248, 0.5);
  overflow: hidden;
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .products .products__form .form__input-wrapper {
    margin-bottom: 25px;
  }
}
.products .products__form .form__input-wrapper img {
  background-color: #358EB9;
  border-radius: 50%;
  padding: 14px;
  width: 67px;
  height: 67px;
}
@media (max-width: 992px) {
  .products .products__form .form__input-wrapper img {
    width: 50px;
    height: 50px;
  }
}
.products .products__form .btn {
  padding: 10px 24px;
  color: white;
  font-size: 20px;
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #adcfe1;
  font-weight: 300;
}
@media (max-width: 992px) {
  .products .products__form .btn {
    padding: 5px 24px;
  }
}